In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('data/office_data.pkl')

In [3]:
df

,value,variable,device,device_name
datetime,,,,
2022-11-01 00:00:00-05:00,2.77,pa-equipos-de-climatizacion,hc---cali-norte,HC - Cali norte
2022-10-31 23:45:00-05:00,2.76,pa-equipos-de-climatizacion,hc---cali-norte,HC - Cali norte
2022-10-31 23:30:00-05:00,2.74,pa-equipos-de-climatizacion,hc---cali-norte,HC - Cali norte
2022-10-31 23:15:00-05:00,2.75,pa-equipos-de-climatizacion,hc---cali-norte,HC - Cali norte
2022-10-31 23:00:00-05:00,2.76,pa-equipos-de-climatizacion,hc---cali-norte,HC - Cali norte
...,...,...,...,...
2022-06-01 15:00:00-05:00,692.01,ea-iluminacion-principal,hc-san-juan,HC - San Juan
2022-06-01 10:00:00-05:00,631.38,ea-iluminacion-principal,hc-san-juan,HC - San Juan
2022-06-01 02:00:00-05:00,10.37,ea-iluminacion-principal,hc-san-juan,HC - San Juan
2022-06-01 01:00:00-05:00,27.38,ea-iluminacion-principal,hc-san-juan,HC - San Juan
2022-06-01 00:00:00-05:00,74.64,ea-iluminacion-principal,hc-san-juan,HC - San Juan

In [4]:
df_test = df[df['device_name']=='HC - Cali norte']

In [6]:
set(df_test.device)

{'hc---cali-norte'}

In [16]:
(
    df
    .reset_index()
    .groupby(by=['device','variable'])['value']
    .count()
    .reset_index()
)

        device                     variable  value
0     calle-80              ea-area-de-bots      0
1     calle-80             ea-area-de-corte   1885
2     calle-80                ea-car-center   2839
3     calle-80                 ea-concesion   2425
4     calle-80  ea-equipos-de-climatizacion   2758
..         ...                          ...    ...
401  hc-tintal     pa-iluminacion-principal   8876
402  hc-tintal      pa-oficinas-y-servicios   6608
403  hc-tintal         pa-patio-constructor      0
404  hc-tintal            pa-tablero-sorter      0
405  hc-tintal                  pa-talleres      0

[406 rows x 3 columns]

In [17]:
(
    df
    .reset_index()
    .groupby(by=['device_name','variable'])['value']
    .count()
    .reset_index()
)

           device_name                     variable  value
0    HC - Barranquilla              ea-area-de-bots      0
1    HC - Barranquilla             ea-area-de-corte   3346
2    HC - Barranquilla                ea-car-center   2547
3    HC - Barranquilla                 ea-concesion   3670
4    HC - Barranquilla  ea-equipos-de-climatizacion   3269
..                 ...                          ...    ...
401        HC - Tintal     pa-iluminacion-principal   8876
402        HC - Tintal      pa-oficinas-y-servicios   6608
403        HC - Tintal         pa-patio-constructor      0
404        HC - Tintal            pa-tablero-sorter      0
405        HC - Tintal                  pa-talleres      0

[406 rows x 3 columns]

In [13]:
df.groupby(['device'])['value'].count().reset_index()

              device   value
0           calle-80   92221
1           cedritos   70088
2   hc---bucaramanga   86620
3    hc---cali-norte   82655
4       hc---palmira   77400
5             hc-baq   79165
6           hc-bello   98082
7        hc-cali-sur  124089
8     hc-corporativo    3673
9           hc-funza   59844
10        hc-la-popa   70551
11   hc-san-fernando   73086
12       hc-san-juan   80818
13         hc-tintal   91163